@model List<AppWebTest.Models.PaginaCLS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- Button trigger modal -->
<button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Agregar
</button>

<p>
    @using (Ajax.BeginForm("Filtrar", "", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "divPagina",
        InsertionMode = InsertionMode.Replace

    }, new { @id = "frmFiltrado" }))
    {
        @Html.Label("Ingrese mensaje")
        @Html.TextBox("mensajeFiltro")

        

        <div id="divPagina">
            @Html.Partial("_TablaPagina", Model)
        </div>
    }


</p>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("Guardar", "Pagina", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "Guardar",
                InsertionMode=InsertionMode.Replace,
                UpdateTargetId="divError"
            }))
            {
                @Html.Hidden("titulo")
                <div class="modal-body">                    
                    <div>
                        @Html.Label("Mensaje")
                        @Html.TextBox("mensaje", null, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Acción")
                        @Html.TextBox("accion", null, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Controlador")
                        @Html.TextBox("controlador", null, new { @class = "form-control" })
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Understood</button>
                </div>
                <div id="divError"></div>
            }

        </div>
    </div>
</div>



<script>
    var frmFiltrado = document.getElementById("frmFiltrado");
    var mensaje = document.getElementById("mensaje");
    mensaje.onkeyup = function () {
        $("#frmFiltrado").trigger("submit");
    }
    //frmFiltrado.onsubmit = function () {
    //    $("#frmFiltrado").trigger("submit");
    //}

    function Agregar() {
        Limpiar();
        document.getElementById("titulo").value = "-1";
       
    }

    function Guardar(result) {
        if (result == "1" || result =="0") {
            $("#frmFiltrado").trigger("submit");
            document.getElementById("btnClose").click();
            alert("se ejecuto correctamente");
            
        }
        else {
            alert("ocurrio un error")
        }
    }

    function Editar(idPagina) {
        
        $.get("Pagina/recuperarInformacion/?idPagina=" + idPagina, function (data) {
            document.getElementById("mensaje").value = data.mensaje;
            document.getElementById("accion").value = data.accion;
            document.getElementById("controlador").value = data.controlador;
        })
        document.getElementById("titulo").value = idPagina;
        Limpiar(); 
    }

    function Limpiar() {
        var controles = document.getElementsByClassName("form-control");
        var control;
        for (var i = 0; i <= controles.length; i++) {
            control = controles[i];
            control.value = " ";
        }
    }
</script>

