@using AppWebTest.Models
@model List<SucursalCLS>
@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

@Html.ActionLink("Agregar" ,"Agregar","Sucursal", new { @class = "btn btn-primary" })
<br />

@using (Html.BeginForm("Index", "Sucursal", FormMethod.Get,new{@id="frmBusqueda"})) { 
@Html.Label("Ingrese nombre sucursal")
@Html.TextBox("nombre")

<table class=" table table-bordered table-hover">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].idsucursal)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].telefono)</td>
            <td>@Html.LabelFor(p => Model[0].email)</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.idsucursal</td>
                <td>@item.nombre</td>
                <td>@item.telefono</td>
                <td>@item.email</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Sucursal", new { id = @item.idsucursal }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                    @Html.ActionLink(" ", "Eliminar", "Sucursal", new { id = @item.idsucursal }, new { @class = "glyphicon glyphicon-trash btn btn-danger", @onclick = "eliminarSucursal()" })
                </td>
            </tr>

         }
    </tbody>
</table>
}

<script>
    function eliminarSucursal() {
        if (confirm("Deseas eliminar ?") == 1) {
            alert("se elimino correctamente");
        }
        else {
            event.preventDefault();
        }
    }

    var nombre = document.getElementById("nombre");
    nombre.onkeyup = function () {
        var frmBusqueda = document.getElementById("frmBusqueda")
        frmBusqueda.submit();
    }


</script>