@using AppWebTest.Models
@model List<MarcaCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Agregar", "Agregar", "Marca",null,new { @class = "btn btn-primary"})
<table class="table-bordered table-hover">
    <thead>
        <tr>
            <td width="10%">@Html.LabelFor(p=>Model[0].idMarca)</td>
            <td width="20%">Nombre Marca</td="10%">
            <td width="70%">@Html.LabelFor(p => Model[0].descripcion)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var iter in Model)
        {
        <tr>
            <td>@iter.idMarca</td>
            <td>@iter.nombre</td>
            <td>@iter.descripcion</td>
        </tr>
        }

    </tbody>

</table>
