@using AppWebTest.Models
@model List<RolCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- Button trigger modal -->
<button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Agregar
</button>

@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divRol",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{
    @Html.Label("Ingrese nombre rol")
    @Html.TextBox("nombre", null, new { @class = "form-control" })
    <div id="divRol">
        @Html.Partial("_TablaRol", Model)
    </div>
}





<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("Guardar", "Rol",null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "Guardar"
            }))
            {
                @Html.Hidden("titulo")
                <div class="modal-body">
                    <div>
                        @Html.Label("id Rol")
                        @Html.TextBox("iidRol", null, new { @class = "form-control", @readOnly = true })
                    </div>
                    <div>
                        @Html.Label("Nombre Rol")
                        @Html.TextBox("nombre", null, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Descripcion")
                        @Html.TextBox("descripcion", null, new { @class = "form-control" })
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Understood</button>
                </div>
            }

        </div>
    </div>
</div>


<script>
    var nombre = document.getElementById("nombre");
    nombre.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }

    function Agregar() {
        document.getElementById("titulo").value = 1;
    }

    function Guardar(resultado) {
        if (resultado == 1) {//si se ingreso es uno y se refewsca la visa parcial
            $("#frmFiltro").trigger("submit");
            document.getElementById("btnClose").click();
            alert("Se guardo correctamente");
        }
        else {
            alert("Ocurrio un error");
        }
    }
</script>